# This file defines files that Git should ignore

#
# COMMON ELEMENTS 
#

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#
# PLIGG ELEMENTS
#

# Uploaded Avatars
Webroot/avatars/groups_uploaded/*.jpg
Webroot/avatars/groups_uploaded/*.png
Webroot/avatars/groups_uploaded/*.gif
Webroot/avatars/user_uploaded/*.jpg
Webroot/avatars/user_uploaded/*.png
Webroot/avatars/user_uploaded/*.gif

# Renamed .default Pligg files
# .htaccess
Webroot/libs/dbconnect.php
Webroot/logs/
Webroot/settings.php


# Upload module attachments
Webroot/modules/upload/attachments/*.jpg
Webroot/modules/upload/attachments/*.png
Webroot/modules/upload/attachments/*.gif
Webroot/modules/upload/attachments/thumbs/*.jpg
Webroot/modules/upload/attachments/thumbs/*.png
Webroot/modules/upload/attachments/thumbs/*.gif


# All .log files
*.log
.rvmrc
phpunit.xml

# Test files
Tests/Support/DatabaseSettings.php
Config/DatabaseSettings.php
Config/TwitterSettings.php
Config/EmbedlySettings.php
