# This file defines files that Git should ignore

#
# COMMON ELEMENTS 
#

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#
# PLIGG ELEMENTS
#

# Uploaded Avatars
webroot/avatars/groups_uploaded/*.jpg
webroot/avatars/groups_uploaded/*.png
webroot/avatars/groups_uploaded/*.gif
webroot/avatars/user_uploaded/*.jpg
webroot/avatars/user_uploaded/*.png
webroot/avatars/user_uploaded/*.gif

# Renamed .default Pligg files
# .htaccess
webroot/languages/*.conf
webroot/libs/dbconnect.php
webroot/logs/
webroot/settings.php


# Upload module attachments
webroot/modules/upload/attachments/*.jpg
webroot/modules/upload/attachments/*.png
webroot/modules/upload/attachments/*.gif
webroot/modules/upload/attachments/thumbs/*.jpg
webroot/modules/upload/attachments/thumbs/*.png
webroot/modules/upload/attachments/thumbs/*.gif


# All .log files
*.log
.rvmrc
phpunit.xml

# Test files
Tests/Support/DatabaseSettings.php
Config/DatabaseSettings.php
Config/TwitterSettings.php
